header {
	background:#050d1e;
	color:#cccdd7;
	padding:25px;
}

.remove {
    display: none;
}

.content {
	border-radius: .6rem;
    box-shadow: 0 1.2rem 3.6rem rgba(0,0,0,.2);
	padding:20px;
}

p, label, th, tr{
	color:#212b35;
	font-family: Helvetica, Arial, sans-serif;
}

input {
	display: inline-block;
    height: 52px;
    width: 15%;
    margin: 0 0 15px;
    padding: 1.0625em 1em;
    color: #30373b;
    font-family: ShopifySans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-box-shadow: 0 0 0 1px #c4cdd5;
    box-shadow: 0 0 0 1px #c4cdd5;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-transition: all 150ms;
    transition: all 150ms;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="file"] {
	box-shadow: 0 0 0 0px;

}

label, input {
	padding-right: 20px;
	margin-left: 20px;
}
 
input[type="submit"]{
	border-color: #5c6ac4;
    border-width: 0.125em;
    display: inline-block;
    padding: 1.0625em 1.875em;
    border-radius: 5px;
    font-family: ShopifySans, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.133;
    -webkit-font-smoothing: antialiased;
    transition: 150ms ease;
    transition-property: background-color, border-color, box-shadow, color;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    background-color: #5c6ac4;
    color: #ffffff;
    border-width: 0.125em;
    border-style: solid;
    border-color: transparent;
} 


input[type="submit"]:hover{

    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.25);
    background-color: transparent;
    color:#5c6ac4;
    border-color: #5c6ac4;
    border-top-color: rgb(92, 106, 196);
    border-right-color: rgb(92, 106, 196);
    border-bottom-color: rgb(92, 106, 196);
    border-left-color: rgb(92, 106, 196);
    border-width: 0.125em;
    border-top-width: 0.125em;
    border-right-width: 0.125em;
    border-bottom-width: 0.125em;
    border-left-width: 0.125em;

}


img {
    vertical-align: middle;
    border-style: none;
    padding: 20px;
    margin-top: 29px;
}



.price {
	display:inline-block;
}

body {
	padding:25px;
}


